<ion-view>
  <ion-pane>
    <ion-side-menus>
      <ion-side-menu-content>
        <ion-content class="has-subheader">
          <!--<a href="#/tab/assistance" class="button">-->
            <!--got to tabs page-->
          <!--</a>-->
          <ion-list>
            <ion-item class="item-image">
              <img src="{{car.imgUrl}}" class="icon" alt="Photo">
            </ion-item>

            <ion-item class="item-icon-left">
              <p class="toRight">{{car.brand.title}}</p>
              <i class="icon {{car.brand.icon}}"></i>
            </ion-item>
            <ion-item class="item-icon-left">
              <p class="toRight">
                {{car.model.title}}
              </p>
              <i class="icon {{car.model.icon}}"></i>
            </ion-item>
            <ion-item class="item-icon-left">
              <p class="toRight">
                {{car.engine.title}}
              </p>
              <img src="../img/engine.png" class="icon padding non-ionic-icon" alt="Photo">
            </ion-item>
            <ion-item class="item-icon-left">
              <p class="toRight">
                {{car.price.title}}
              </p>

              <i class="icon {{car.price.icon}}"></i>
            </ion-item>
            <ion-item class="item-icon-left">
              <p class="toRight">
                {{car.year.title}}
              </p>
              <i class="icon {{car.year.icon}}"></i>
            </ion-item>
            <ion-item class="item-icon-left">
              <p class="toRight">
                {{car.transmission.title}}
              </p>
              <img src="../img/transmission.png" class="icon padding non-ionic-icon" alt="Photo">
            </ion-item>
            <ion-item ng-show="car.eco != null" class="item-icon-left">
              <p class="toRight">
                {{car.eco.title}}
              </p>
              <i class="icon {{car.eco.icon}}"></i>
            </ion-item>
            <ion-item class="item-icon-left">
              <p class="toRight">
                {{car.maxSpeed.title}}
              </p>
              <i class="icon {{car.maxSpeed.icon}}"></i>
            </ion-item>
            <ion-item class="item-icon-left">
              <p class="toRight">
                {{car.consumes.title}}
              </p>
              <i class="icon {{car.consumes.icon}}"></i>
            </ion-item>
            <ion-item class="item-icon-left">
              <p class="toRight">
                {{car.wheelSystem.title}}
              </p>
              <img src="../img/wheelSystem.png" class="icon non-ionic-icon" alt="Photo">
            </ion-item>
            <ion-item class="item-icon-left">
              <p class="toRight">
                {{car.weight.title}} T
              </p>
              <img src="../img/weigthIcon.png" class="icon non-ionic-icon" alt="Photo">
            </ion-item>
          </ion-list>
        </ion-content>
      </ion-side-menu-content>

      <ion-side-menu side="right">
        <ion-list>
          <ion-item class="icon ion-camera" ng-click="takePhoto()">  Take Photo</ion-item>
        </ion-list>

        <ion-list>
          <ion-item>Photos</ion-item>
        </ion-list>

        <ion-list>
          <ion-item>Videos</ion-item>
        </ion-list>

        <ion-list>
          <ion-item>Articles</ion-item>
        </ion-list>
      </ion-side-menu>
    </ion-side-menus>
  </ion-pane>

</ion-view>
