<ion-header-bar class="bar-stable">

  <button class="icon ion-person-stalker button button-clear"></button>
  <h1 class="title">Interactive Beacon App</h1>
  <button class="icon ion-navicon button button-clear"></button>
</ion-header-bar>

<ion-content class="has-subheader">
<h1>This is gallery</h1>

  <div class="row">
    <div class="col">
      <img src="http://placehold.it/150x150" class="icon" alt="Photo">
    </div>
    <div class="col">
      <img src="http://placehold.it/150x150" class="icon" alt="Photo">
    </div>
  </div>

  <div class="row">
    <div class="col">
      <img src="http://placehold.it/150x150" class="icon" alt="Photo">
    </div>
    <div class="col">
      <img src="http://placehold.it/150x150" class="icon" alt="Photo">
    </div>
  </div>

  <div class="row">
    <div class="col">
      <img src="http://placehold.it/150x150" class="icon" alt="Photo">
    </div>
    <div class="col">
      <img src="http://placehold.it/150x150" class="icon" alt="Photo">
    </div>
  </div>

  <div class="row">
    <div class="col">
      <img src="http://placehold.it/150x150" class="icon" alt="Photo">
    </div>
    <div class="col">
      <img src="http://placehold.it/150x150" class="icon" alt="Photo">
    </div>
  </div>
</ion-content>
