<ion-header-bar class="bar-stable">

  <button ng-click="showConfirm()" class="icon ion-person-stalker button button-clear"></button>
  <h1 class="title">{{title}}</h1>
  <!--<button class="icon ion-navicon button button-clear"></button>-->
  <button class="button icon button-clear ion-navicon-round"
          ng-click="toggleRight()"></button>
</ion-header-bar>

<ion-tabs class="tabs-light tabs-icon-top tabs-positive">
  <ion-tab title="Interact" icon="ion-android-walk" href="#/tab/list">
    <ion-nav-view name="list-tab"></ion-nav-view>
  </ion-tab>


  <ion-tab title="All Cars" icon="ion-model-s" href="#/tab/gallery">
    <ion-nav-view name="gallery-tab"></ion-nav-view>
  </ion-tab>
  <ion-tab title="My Gallery" icon="ion-images" href="#/tab/my-gallery">
    <ion-nav-view name="my-gallery-tab"></ion-nav-view>
  </ion-tab>
</ion-tabs>

