/*this class is for non ionic icons. they are png images,, so i need to push them to the very
right to be on same column as ionic icons*/
.non-ionic-icon {
  left: 0 !important;
}

.toRight {
  float: right;
}

.car-item{
  width: 40%;
  height: 130px;
}

.car-item img{
  width: 100%;
  /*height: 85px;*/
}

ion-side-menu{
  margin-top: 44px;
}
